<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZg74cEdPcnXshBBmgKnMxtuyzXDiJZAg</string>
	<key>GCM_SENDER_ID</key>
	<string>991354765232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pm25App</string>
	<key>PROJECT_ID</key>
	<string>pm25-app-ccfff</string>
	<key>STORAGE_BUCKET</key>
	<string>pm25-app-ccfff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991354765232:ios:b6f91c5573af9ea5d8e075</string>
</dict>
</plist>